$offer-width: 220px;
$offer-max-height: 540px;
$offer-border-color: rgba(235,235,235,1);
$offer-author-bg-color: rgba(241,241,241,1);
$base-font-size: 12px;

body {
  font-size: $base-font-size;
  font-family: Arial, Tahoma;
  position: relative;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: PFAgoraSansPro-xthin;
  src: url('../fonts/PFAgoraSansPro-xthin.ttf');
}
@font-face {
  font-family: PFAgoraSansPro-regular;
  src: url('../fonts/PFAgoraSansPro-reg.ttf');
}
@font-face {
  font-family: LigatureSymbols;
  src: url('../fonts/LigatureSimbols.ttf');
}

@mixin gray-text {
  color: rgba(141,141,141,1);
  font-size: 10.86px;
}

.offer-list {
  margin: 0 auto;
  max-width: 951px;
  width: 951px;
  column-gap: 1.5em;
  .offer {
    width: $offer-width;
    box-sizing: border-box;
    border: solid 1px $offer-border-color;
    border-radius: 10px;
    display: inline-block;
    padding: 0;
    overflow: hidden;
    margin: 5px;
    height: auto;
    position: relative;
    z-index: 5;
    &:hover {
      cursor: pointer;
      border: solid 1px rgba(171,201,232,1);
      box-shadow: 2px 2px 3px 0 rgba(204,204,204,1),
                  1px 0 1px 0 rgba(171,201,232,1),
                  0 1px 1px 0 rgba(171,201,232,1),
                  -1px 0 1px 0 rgba(171,201,232,1)
    }
    &:hover > .actions{
      visibility: visible;
    }
  }
  .actions {
    position: absolute;
    width: $offer-width;
    z-index: 10;
    text-align: center;
    visibility: hidden;
    margin: 0;
    padding: 0;
    .more-info {
      padding: 5px;
      color: rgba(255,255,255,1);
      background-color:rgba(171,201,232,1);
      font-family: "PFAgoraSansPro-regular", "Arial";
    }
    .action-icons {
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 100%  );
      div {
        width: 50px;
        height: 50px;
        display: inline-block;
        margin: 2px;
      }
      & > .to-feedback {
        background: url('../img/feedback.png') 50% 50% no-repeat;
        &:hover {
          background: url('../img/feedback-hover.png') 50% 50% no-repeat;
        }
      }
      & > .to-add {
        background: url('../img/add.png') 50% 50% no-repeat;
        &:hover {
          background: url('../img/add-hover.png') 50% 50% no-repeat;
        }
      }
      & > .added {
        background: url('../img/add-hover.png') 50% 50% no-repeat;
      }
      & > .to-comment {
        background: url('../img/comment.png') 50% 50% no-repeat;
        &:hover {
          background: url('../img/comment-hover.png') 50% 50% no-repeat;
        }
      }
      & > .to-like {
        background: url('../img/like.png') 50% 50% no-repeat;
        &:hover {
          background: url('../img/like-hover.png') 50% 50% no-repeat;
        }
      }
      & > .liked {
        background: url('../img/like-hover.png') 50% 50% no-repeat;
      }
    }
  }
  .offer-image {
    min-height: 110px;
    width: $offer-width;
    line-height: 130px;
    text-align: center;
    & > img {
      min-width: 121px;
      min-height: 85px;
      max-width: $offer-width;
      max-height: 289px;
      display: inline-block;
      padding: 0;
      vertical-align: bottom;
      margin: 0 auto;
    }
  }
  .offer-caption {
    font-weight: bold;
    padding: 0;
    margin: 10px 0 0 17px;
  }
  .offer-info {
    @include gray-text;
    margin: 12px 0 0 17px;
  }
  .offer-feedback {
    @include gray-text;
    margin-bottom: 10px;
    margin: 19% 0 8px 16px;
    div {
      display: inline-block;
      margin-right: 8px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .offer-author {
    background-color: $offer-author-bg-color;
    padding-bottom: 10px;
    & > .avatar {
      display: inline-block;
      padding-left: 16px;
      padding-top:6px;
    }
    & > .ticket {
      padding-left: 6px;
      display: inline-block;
      & > .name {
        font-size: $base-font-size;
        color: rgba(84,115,172,1)
      }
      & > .label {
        @include gray-text;
        font-style: italic;
        font-size: 10.86px;
      }
    }
  }
  .offer-feedback-details {
    background-color: $offer-author-bg-color;
    & > .container {
      width: 100%;
      border-top: rgba(215,215,215,1) solid 1px;
      font-size: 11px;
      position: relative;
      &:hover:before {
        position: absolute;
        content: 'x';
        top: 5px;
        right: 5px;
        font-weight: bold;
        font-size: 14px;
      }
      & .avatar {
        display: inline-block; 
        padding: 6px;
        padding-left: 16px;
      }
      & .text {
        display: inline-block;
        width: 70%;
        margin-top: 10px;
        margin-bottom: 10px;
        vertical-align: top;
        max-height: 24px;
        overflow: hidden;
        word-wrap: break-word;
      }
      .textinput {
        display: inline-block;
        margin: 10px 0;
        textarea {
          width: 90%;
          height: 30px;
        }
      }
      &:nth-child(odd) {
        font-weight: bolder;
      }
    }
  }
}
/* Медиа-запросы для различных размеров адаптивного макета */
@media only screen and (min-width: 400px) {
  .offer-list {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
 
@media only screen and (min-width: 700px) {
  .offer-list {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
 
@media only screen and (min-width: 1100px) {
  .offer-list {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}
 
@media only screen and (min-width: 1280px) {
  .wrapper {
    width: 1260px;
  }
}

.blind {
  position: absolute; 
  left:0;
  right:0;
  top:0;
  margin: 0;
  padding: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,0.5);
  &:after {
    content: "";
    display: table;
    height: auto;
    clear: both;
  }
  .popup {
    margin-top: 50px;
    top: 50px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    width: 810px;
    margin: 0 auto;
    .close-link {
      text-align: right;
      margin-right: 10px;
      margin-top: 10px;
      color: rgba(141,141,141,1);
      cursor: pointer;
      display: block;
    }
    .header {
      padding: 10px 40px;
      margin-top: -10px;
      line-height: 10px;
      .img {
        display: inline-block;
        vertical-align: middle;
      }
      .author {
        display: inline-block;
        vertical-align: middle;
        line-height: 1em;
        padding-left: 5px;
        .fio {
          font-family: PFAgoraSansPro-xthin;
          font-size: 22px;
          display: block;
          color: rgba(84,115,172,1);
        }
        .label {
          color: rgba(163,163,163,1);
          font-style: italic;
          font-size: 14px;
          display: block;
        }
      }
    }
    .container {
      padding: 0 0 0 40px;
      margin: 0;
      box-sizing: border-box;
      border-top: 1px solid rgba(230,230,230, 1);
      .info {
        padding: 0;
        padding-top: 20px;
        padding-right: 15px;
        margin: 0;
        float: left;
        width: 75%;
        border-right: 1px solid rgba(230,230,230, 1);
        h1 {
          font-family: "PFAgoraSansPro-regular";
          font-size: 24px;
          font-weight: normal;
          padding: 0;
          margin: 0;
        }
        h3 {
          font-family: "PFAgoraSansPro-regular";
          font-size: 16px;
          font-weight: normal;
          color: rgba(163,163,163,1);
          padding: 0;
          margin: 0;
          padding-bottom: 7px;
        }
        img {
          display: block;
          max-width: 570px;
        }
        .description {
          font-size: 14px;
          padding-top: 27px;
        }
      }
      .actions {
        float: right;
        width: 170px;
        text-align:center;
        padding-top: 70px;
        button {
          display: block;
        }
      }
      &:after {
        display:table;
        width: 100%;
        clear:both;
        content: "";
      }
    }
    .feedbacks {
      margin-top: 34px;
      .fb-item {
        background-color: rgba(241,241,241,1);
        border: 1px solid rgba(217,217,217,1);
        padding: 17px 40px;
        overflow: auto;
      }
    }
    .add-feedback {
      padding-top:20px;
      background-color: rgba(241,241,241,1);
      overflow: hidden;
      padding-left: 40px;
      padding-bottom: 20px;
    }
    .fb-image {
      float: left;
    }
    .fb-text {
      float: left;
      margin-left: 32px;
      font-size: 12px;
      display: block;
      width: 76%;
      color: rgba(109,109,109,1);
      textarea {
        height: 54px;
        width: 100%;
        vertical-align: top;
      }
    }
    .counter-block {
      font-size: 16px;
      font-family: "PFAgoraSansPro-regular";
      display: block;
      padding: 10px 40px;
      border-bottom: 2px solid rgba(217,217,217,1);
      img {
        padding: 5px 5px;
      }
    }
  }
}
.button {
  border-radius: 3px;
  padding: 6px 13px;
  display: inline-block;
  vertical-align: middle;

  &:hover {
    cursor: pointer;
  }
  &.violet {
    background: linear-gradient(to bottom, rgba(182,82,167,1) 0%, rgba(182,82,167,1) 50%, rgba(162,33,141,1) 50%);
    color: white;
    margin-left: 50px;
    width: 130px;
  }
  &.gray {
    border: 1px solid rgba(203,203,203,1);
    background: linear-gradient(to bottom, rgba(212,212,212,1) 0%, rgba(242,242,242,1) 50%);
    color: rgba(130,132,138,1);
    margin-bottom: 16px;
    width: 123px;
  }
}
.hidden {
  display: none;
}