$offer-width: 220px;
$offer-max-height: 540px;
$offer-border-color: rgba(235,235,235,1);
$offer-author-bg-color: rgba(241,241,241,1);
$base-font-size: 12px;

body {
  font-size: $base-font-size;
  font-family: Arial, Tahoma;
  box-sizing: border-box;
}

@font-face {
  font-family: PFAgoraSansPro-xthin;
  src: url('../fonts/PFAgoraSansPro-xthin.ttf');
}
@font-face {
  font-family: PFAgoraSansPro-regular;
  src: url('../fonts/PFAgoraSansPro-reg.ttf');
}
@font-face {
  font-family: LigatureSymbols;
  src: url('../fonts/LigatureSimbols.ttf');
}

@mixin gray-text {
  color: rgba(141,141,141,1);
  font-size: 10.86px;
}

.offer-list {
  margin: 0 auto;
  max-width: 951px;
  width: 951px;
}
.offer {
  max-height: $offer-max-height;
  width: $offer-width;
  border: solid 1px $offer-border-color;
  border-radius: 10px;
  float: left;
  padding: 0;
}
.offer-image {
  min-height: 110px;
  width: $offer-width - 2px;
  margin: 0 auto;
  & > img {
    min-width: $offer-width - 2px;
    min-height: 85px;
    max-height: 289px;
    display: block;
    padding: 0;
    margin: 0;
  }
}
.offer-caption {
  font-weight: bold;
  padding: 0;
  margin: 10px 0 0 17px;
}
.offer-info {
  @include gray-text;
  margin: 12px 0 0 17px;
}
.offer-feedback {
  @include gray-text;
  margin-bottom: 10px;
  margin: 19% 0 8px 16px;
  div {
    display: inline-block;
  }
  & > .likes {
    margin-right: 3px;
  }
  & > .comments {
    margin-left: 6px;
  }
  & > .mentions {
    margin-right: 12px;
  }
  & > .adds {
    margin-left: 9px;
  }
}
.offer-author {
  background-color: $offer-author-bg-color;
  border-radius: 0 0 9px 9px;
  padding-left: 10px;
  & > .avatar {
    display: inline-block;
    margin: 4px 6px;
  }
  & > .ticket {
    display: inline-block;
    & > .name {
      font-size: $base-font-size;
      color: rgba(84,115,172,1)
    }
    & > .label {
      @include gray-text;
      font-style: italic;
      font-size: 10.86px;
    }
    
  }
}
