!!! 5
%html
  %head
    %meta{ charset: "utf8" }
    %link{ rel: "stylesheet", href: "css/style.css" }
  %body
    %div#js-offer-list-placeholder.offer-list
      %script#js-offer-list-template{type: "text/x-handlebars-template"}
        {{#each offers}}
          {{#if deleted}}
          {{else}}
          %div.offer.js-offer{data-offer-id:"{{id}}"}
            %div.actions
              %div.more-info.js-more-info{data-offer-id:"{{id}}"}
                Ознакомиться с предложением
              %div.action-icons
                %div.to-feedback.js-feedback-link
                {{#if likesByCurrentUser}}
                %div.liked.js-like-link{data-offer-id:"{{id}}"}
                {{else}}
                %div.to-like.js-like-link{data-offer-id:"{{id}}"}
                {{/if}}
                {{#if addsByCurrentUser}}
                %div.added.js-add-link{data-offer-id:"{{id}}"}
                {{else}}
                %div.to-add.js-add-link{data-offer-id:"{{id}}"}
                {{/if}}
                %div.to-comment.js-comment-link{data-offer-id:"{{id}}"}
            %div.offer-image
              %img{ src: "{{offerImg}}.png" }
            %div.offer-caption
              {{caption}}
            %div.offer-info
              %div.category
                {{category}}
              %div.date
                {{#if dateBegin}}
                  {{dateBegin}}-
                {{else}}
                  Всегда&nbsp;
                {{/if}}
                {{#if dateEnd}}
                  {{dateEnd}}
                {{else}}
                  актуально
                {{/if}}
              %div.location
                {{location}}
            %div.offer-feedback
              
              {{#if likes}}
              %div.likes
                {{likes.length}} нравится
              {{/if}}
            
              {{#if adds}}
              %div.adds
                {{adds.length}} добавили
              {{/if}}
              %br/
              
              {{#if comments}}
              %div.comments.js-comments{data-offer-id: "{{id}}"}
                {{commentsCount}} комментария
              {{/if}}
            
              {{#if mentions}}
              %div.mentions
                {{mentionsCount}} отзыва
              {{/if}}
            %div.offer-author
              %div.avatar
                %img{ src: "{{author.avatar}}.png" }
              %div.ticket
                %span.name {{author.fio}}
                %br/
                %span.label предлагает
            %div.offer-feedback-details
              {{#take 5 1 comments}}
                %div.container{data-user-id:"{{author.id}}"}
                  %div.delete-comment.hidden.js-delete-comment{data-comment-id:"{{id}}", data-offer-id:"{{../id}}"}
                    х
                  %div.avatar
                    %img{src: "{{author.avatar}}.png"}
                  %div.text
                    {{text}}
              {{/take}}
              {{#if commentText}}
                %div.container.js-comment{data-offer-id: "{{id}}"}
                  %div.avatar
                    %img{src:"{{../currentUser.avatar}}.png"}
                  %div.textinput
                    %textarea.comment-input.js-comment-input{placeholder:"Комментировать", maxlength: "500", data-offer-id:"{{id}}"}{{commentText}}
              {{else}}
                %div.container.js-comment.hidden{data-offer-id: "{{id}}"}
                  %div.avatar
                      %img{src:"{{../currentUser.avatar}}.png"}
                    %div.textinput
                      %textarea.comment-input.js-comment-input{placeholder:"Комментировать", maxlength: "500", data-offer-id:"{{id}}"}
              {{/if}}
                  
          {{/if}}
        {{/each}}
    %div.blind.hidden.js-blind
      %div#js-popup-placeholder.popup
        %script#js-popup-template{type: "text/x-handlebars-template"}
          %div.close-link.js-close-link{data-offer-id:"{{id}}"}
            Закрыть X
          %div.header
            %div.img
              %img{src: "{{offer.author.avatar}}-big.png"}
            %div.author
              %div.fio
                {{offer.author.fio}}
              %br/
              %div.label
                нуждается в этом
            %div.button.violet.js-delete-offer{data-offer-id: "{{offer.id}}"}
              удалить предложение
          %div.container
            %div.info
              %h1
                {{offer.caption}}
              %h3
                {{offer.category}}
              %img{src:"{{offer.offerImg}}-big.png"}
              %div.description
                {{offer.description}}
            %div.actions
              {{#if offer.addsByCurrentUser}}
              %div.button.gray.added.js-add{data-offer-id: "{{offer.id}}"}
                Добавить к себе
              {{else}}
              %div.button.gray.add.js-add{data-offer-id: "{{offer.id}}"}
                Добавить к себе
              {{/if}}

              {{#if offer.likesByCurrentUser}}
              %div.button.gray.liked.js-like{data-offer-id: "{{offer.id}}"}
                Мне нравится
              {{else}}
              %div.button.gray.like.js-like{data-offer-id: "{{offer.id}}"}
                Мне нравится
              {{/if}}  
              %div.button.gray.mention.js-mention{data-offer-id: "{{offer.id}}"}
                Добавить отзыв
          %div.feedbacks
            {{#take 3 1 offer.mentions}}
              %div.fb-item
                %div.fb-image
                  %img{src: "{{author.avatar}}-big.png"}
                %div.fb-text
                  %span
                    {{text}}
            {{/take}}
          %div.add-feedback.js-add-mention.hidden{data-offer-id: "{{offer.id}}"}
            %div.fb-image
              %img{src:"{{currentUser.avatar}}-big.png"}
            %div.fb-text
              %textarea.js-mention-text{placeholder:"Оставить отзыв", maxlength: "500", data-offer-id: "{{offer.id}}"}
          %div.counter-block
            %div 
              {{offer.adds.length}} добавили к себе
              %br/
              {{#each offer.adds}}
              %img{src:"{{avatar}}-big.png"}
              {{/each}}
          %div.counter-block
            %div 
              {{offer.likes.length}} нравится
              %br/
              {{#each offer.likes}}
              %img{src:"{{avatar}}-big.png"}
              {{/each}}
    %script{src:"js/app.js"}
