!!! 5
%html
  %head
    %meta{ charset: "utf8" }
    %link{ rel: "stylesheet", href: "css/style.css" }
  %body
    %div#js-offer-list-placeholder.offer-list
      %script#js-offer-list-template{type: "text/x-handlebars-template"}
        {{#each offers}}
          %div.offer{data-offer-index:"{{@index}}"}
            %div.actions
              %div.more-info.js-more-info{data-offer-index:"{{@index}}"}
                Ознакомиться с предложением
              %div.action-icons
                %div.to-feedback.js-feedback-link
                {{#if likedByCurrentUser}}
                %div.liked.js-like-link
                {{else}}
                %div.to-like.js-like-link
                {{/if}}
                {{#if addedByCurrentUser}}
                %div.added.js-add-link
                {{else}}
                %div.to-add.js-add-link
                {{/if}}
                %div.to-comment.js-comment-link
            %div.offer-image
              %img{ src: "{{offerImg}}.png" }
            %div.offer-caption
              {{caption}}
            %div.offer-info
              %div.category
                {{category}}
              %div.date
                {{#if dateBegin}}
                  {{dateBegin}}-
                {{else}}
                  Всегда&nbsp;
                {{/if}}
                {{#if dateEnd}}
                  {{dateEnd}}
                {{else}}
                  актуально
                {{/if}}
              %div.location
                {{location}}
            %div.offer-feedback
              
              {{#if likes}}
              %div.likes
                {{likes.length}} нравится
              {{/if}}
            
              {{#if adds}}
              %div.adds
                {{adds.length}} добавили
              {{/if}}
              %br/
              
              {{#if comments}}
              %div.comments.js-comments
                {{comments.length}} комментария
              {{/if}}
            
              {{#if mentions}}
              %div.mentions
                {{mentions.length}} отзыва
              {{/if}}
            %div.offer-author
              %div.avatar
                %img{ src: "{{author.avatar}}.png" }
              %div.ticket
                %span.name {{author.fio}}
                %br/
                %span.label предлагает
            %div.offer-feedback-details
              {{#each comments}}
                {{#if deleted}}
                {{else}}
                %div.container{data-user-id:"{{author.id}}"}
                  %div.delete-comment.hidden.js-delete-comment{data-comment-index:"{{@index}}"}
                    [х]
                  %div.avatar
                    %img{src: "{{author.avatar}}.png"}
                  %div.text
                    {{text}}
                {{/if}}
              {{/each}}
                %div.container.js-comment.hidden
                  %div.avatar
                    %img{src:"{{../currentUser.avatar}}.png"}
                  %div.textinput
                    %textarea.comment-input{placeholder:"Комментировать"}
        {{/each}}
    %div.blind.hidden.js-blind
      %div#js-popup-placeholder.popup
        %script#js-popup-template{type: "text/x-handlebars-template"}
          %div.close-link
            Закрыть X
          %div.header
            %div.img
              %img{src: "{{data.author.avatar}}-big.png"}
            %div.author
              %div.fio
                {{data.author.fio}}
              %br/
              %div.label
                нуждается в этом
            %div.button.violet
              удалить предложение
          %div.container
            %div.info
              %h1
                {{data.caption}}
              %h3
                {{data.category}}
              %img{src:"{{data.offerImg}}.png"}
              %div.description
                {{data.description}}
            %div.actions
              %div.button.gray
                Добавить к себе
              %div.button.gray
                Мне нравится
              %div.button.gray
                Комментировать
          %div.feedbacks
            {{#each data.mentions}}
              %div.fb-item
                %div.fb-image
                  %img{src: "{{author.avatar}}-big.png"}
                %div.fb-text
                  %span
                    {{text}}
            {{/each}}
          %div.add-feedback
            %div.fb-image
              %img{src:"{{currentUser.avatar}}.png"}
            %div.fb-text
              %textarea.js-mention-text{placeholder:"Оставить отзыв"}
          %div.counter-block
            %div 
              {{data.adds.length}} добавили к себе
              %br/
              {{#each data.adds}}
              %img{src:"{{avatar}}-big.png"}
              {{/each}}
          %div.counter-block
            %div 
              {{data.likes.length}} нравится
              %br/
              {{#each data.likes}}
              %img{src:"{{avatar}}-big.png"}
              {{/each}}

    //ToDo: Написать шаблон попапа для любого выбранного элемента
    %script{src:"js/app.js"}
