!!! 5
%html
  %head
    %meta{ charset: "utf8" }
    %link{ rel: "stylesheet", href: "css/style.css" }
  %body
    %div.offer-list
      %script#js-offer-list{type: "text/x-handlebars-template"}
        {{#each this}}
          %div.offer{data-offer-index:"{{@index}}"}
            %div.actions
              %div.more-info
                Ознакомиться с предложением
              %div.action-icons
                %a.feedback{href:"#"}
                %a.like{href:"#"}
                %a.add{href:"#"}
                %a.comment{href:"#"}
            %div.offer-image
              %img{ src: "{{offerImg}}" }
            %div.offer-caption
              {{caption}}
            %div.offer-info
              %div.category
                {{category}}
              %div.date
                {{#if dateBegin}}
                  {{dateBegin}}-
                {{else}}
                  Всегда&nbsp;
                {{/if}}
                {{#if dateEnd}}
                  {{dateEnd}}
                {{else}}
                  актуально
                {{/if}}
              %div.location
                {{location}}
            %div.offer-feedback
              %div.likes
                {{likes.length}}
              %div.adds
                {{adds.length}}
              %div.comments
                {{comments.length}}
              %div.mentions
                {{#if mentions}}
                  {{mentions.length}} отзыва
                {{/if}}
            %div.offer-author
              %div.avatar
                %img{ src: "{{author.avatar}}" }
              %div.ticket
                %span.name {{author.fio}}
                %br/
                %span.label предлагает
            %div.offer-feedback-details
              {{#each this.mentions}}
                %div.container{data-user-id:"{{author.id}}"}
                  %div.avatar
                    %img{ src: "{{author.avatar}}"}
                  %div.text
                    {{text}}
              {{/each}}
        {{/each}}
    %div.blind.hidden
    %div.popup
    //ToDo: Написать шаблон попапа
    %script{src:"js/app.js"}
